
#
# SDK build environment configuration
#
# CONFIG_BUILD_BUILDROOT_CROSS_COMPILE is not set
# CONFIG_WITH_SYSTEM_CROSS_COMPILE is not set
CONFIG_WITH_EXTERNAL_CROSS_COMPILE=y
CONFIG_EXTERNAL_CROSS_COMPILE_DIR="/home/tekkamanninja/development/crosstools/riscv-gnu-toolchain/bin"
CONFIG_EXTERNAL_CROSS_COMPILE="riscv64-unknown-linux-gnu-"
CONFIG_CUSTOMIZE_BUILD_JOBS=y
CONFIG_BUILD_JOBS_N=4
# end of SDK build environment configuration

#
# Software components' REPO configuration
#
CONFIG_UBOOT_REPO_PATH="src/firmware/u-boot"
CONFIG_LINUX_REPO_PATH="src/kernel/linux"
CONFIG_OPENSBI_REPO_PATH="src/firmware/opensbi"
# end of Software components' REPO configuration

#
# Development boards selection
#
CONFIG_VISIONFIVE_V1=y
CONFIG_CONFIG_FILE="visionfive_v1"
# end of Development boards selection
